.tile {
  fill: white;
  stroke: lightgray;

  &.editable:hover {
    fill: yellow;

    &.connectable {
      fill: red;
    }
  }

  &.selected {
    fill: blue;
  }

  &.connectable {
    fill: green;
  }
}
